NODE_ENV=development
PORT=3000
DATABASE_URL="YOUR_DATABASE_URL"
JWT_SECRET=TOKEN
JWT_EXPIRES_IN=7d
FIREBASE_SERVICE_ACCOUNT_PATH=./firebase-service-account.json
GOOGLE_WEB_CLIENT_ID=YOUR_GOOGLE_WEB_CLIENT_ID
